.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom,
                                    rgba(126, 213, 111, 0.5),
                                    rgba(40, 180, 131, 0.5)),
                    url('../../assets/images/about-1.jpg');
  background-size: cover;
  background-position: top;
  position: relative;
}
.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  .heading-primary {
    color: #fff;
    text-transform: uppercase;
    vertical-align: middle;
    margin-bottom: 3.75rem;
    .heading-primary-main {
      font-size: 3rem;
      font-weight: 400;
      letter-spacing: 35px;
      display: block;
      animation: moveFromLeft 2s;
      animation-timing-function: ease-out;
    }
    .heading-primary-sub {
      font-size: 1.25rem;
      font-weight: 400;
      letter-spacing: 15px;
      display: block;
      text-align: center;
      animation: moveFromRight 2s;
      animation-timing-function: ease-out;
    }
  }
  .btn-hs {
    animation: moveFromLeft 2s;
  }
  .btn-sv {
    animation: moveFromRight 2s;
  }
}
.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 100px;
    display: inline-block;
    transition: all 0.2s ease;
    transition: box-shadow 0.2s;
  }
  
  &-white {
    background: #fff;
    color: $grey-dark;
  }

  &-green {
    background: $primary;
    color: $white;
  }
  
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  } 
  
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
}

.btn-text {
  &:link,
  &:visited {
    padding: 15px 25px;
    text-decoration: none;
    border-bottom: 1px solid $primary;
    transition: all 0.2s;
    color: $primary;
  }

  &:hover {
    color: $white;
    background: $primary;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
  }

  &:active {
    color: $white;
    background: $primary
  }
}
