.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom,
                                    rgba(126, 213, 111, 0.5),
                                    rgba(40, 180, 131, 0.5)),
                    url('../../assets/images/about-1.jpg');
  background-size: cover;
  background-position: top;
  position: relative;
}
.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  .heading-primary {
    color: #fff;
    vertical-align: middle;
    @include pxRem('margin-bottom', 50);
    .heading-primary-main {
      font-size: 2.5rem;
      font-weight: 400;
      @include pxRem('letter-spacing', 10);
      display: block;
      animation: moveFromLeft 2s;
      animation-timing-function: ease-out;
      @include pxRem('padding', 20);
    }
    .heading-primary-sub {
      font-size: 1rem;
      font-weight: 400;
      @include pxRem('letter-spacing', 5);
      display: block;
      text-align: center;
      animation: moveFromRight 2s;
      animation-timing-function: ease-out;
    }
  }
  .btn-hs {
    animation: moveFromLeft 2s;
  }
  .btn-sv {
    animation: moveFromRight 2s;
  }
}
.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    @include pxRem('padding', 13 40);
    @include pxRem('border-radius', 100);
    display: inline-block;
    transition: all 0.2s ease;
    transition: box-shadow 0.2s;
  }
  
  &-white {
    background: #fff;
    color: $grey-dark;
  }

  &-green {
    background: $primary;
    color: $white;
  }
  
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  } 
  
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
}

.btn-text {
  &:link,
  &:visited {
    @include pxRem('padding', 15 25);
    text-decoration: none;
    border-bottom: 1px solid $primary;
    transition: all 0.2s;
    color: $primary;
  }

  &:hover {
    color: $white;
    background: $primary;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
  }

  &:active {
    color: $white;
    background: $primary
  }
}
.section-tour {
  background-color: $grey-light-1;
  padding: 12rem 0;
  margin-top: -6rem;
  .heading-tour {
    margin-bottom: 4rem;
    text-align: center;
  }
  .card {
    perspective: 100rem;
    position: relative;
    height: 25rem;
    width: 100%;
    &__side {
      text-align: center;
      border-radius: 3px;
      height: 30rem;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.8);
      transition: all 0.5s;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      backface-visibility: hidden;
      overflow: hidden;
  
      &--front {
        background-color: rgba($white, 0.8);
      }
  
      &--back {
        transform: rotateY(180deg);
  
        &-1 {
          background-image: linear-gradient(to right bottom, $secondary-light, $secondary-dark);
        }
        &-2 {
          background-image: linear-gradient(to right bottom, $primary-light, $primary-dark);
        }
        &-3 {
          background-image: linear-gradient(to right bottom, $tertiary-light, $tertiary-dark);
        }
      }
    }
  
    &:hover &__side--front {
      transform: rotateY(-180deg);
    }
  
    &:hover &__side--back {
      transform: rotateY(0);
    }
  
    &__picture {
      background-size: cover;
      height: 15rem;
      background-blend-mode: screen;
      background-position: top;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      &-1 {
        background-image: linear-gradient(to right bottom, $secondary-light, $secondary-dark), 
        url('../../assets/images/option1.jpg');
      }
      &-2 {
        background-image: linear-gradient(to right bottom, $primary-light, $primary-dark), 
        url('../../assets/images/option2.jpg');
      }
      &-3 {
        background-image: linear-gradient(to right bottom, $tertiary-light, $tertiary-dark), 
        url('../../assets/images/option3.jpg');
      }
    }
  
    &__heading {
      font-size: 1.5rem;
      font-weight: 600;
      text-transform: uppercase;
      color: $white;
      position: absolute;
      top: 10rem;
      right: 1rem;
      text-align: right;
      width: 75%;
    }
  
    &__heading-span {
      padding: 0.5rem 1rem;
      &-1 {
        background-image: linear-gradient(to right bottom, rgba($secondary-light, .85), rgba($secondary-dark, .85));
      }
      &-2 {
        background-image: linear-gradient(to right bottom, rgba($primary-light, .85), rgba($primary-dark, .85));
      }
      &-3 {
        background-image: linear-gradient(to right bottom, rgba($tertiary-light, .85), rgba($tertiary-dark, .85));
      }
    }
  
    &__detail {
      padding: 1rem;
      ul {
        list-style: none;
        width: 80%;
        margin: 0 auto;
        li {
          text-align: center;
          padding: .5rem;
  
          &:not(:last-child) {
            border-bottom: 1px solid $grey-light-2;
          }
        }
      }
    }
  
    &__cta {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
    }
  
    &__price-box {
      text-align: center;
      color: $white;
      margin-bottom: 4rem;
    }
  
    &__price-only {
      font-size: 1.4rem;
      text-transform: uppercase;
    }
  
    &__price-value {
      font-size: 3rem;
      font-weight: 100;
    }
  }
}