.inventory {
  @extend %br-img;
  display: flex;
  align-items: center;
  justify-content: center;
  // position: relative;
  height: 100%;
  min-height: 100vh;
  margin-left: 80px;
  .form-style {
    height: 280px;
  }

  &-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
    min-width: 350px;
  }
  &-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px dashed;
    padding-bottom: 10px;
    h2{
      font-size: 30px;
    }
  }
}
.w-dialog {
  .el-dialog {
    width: 50% !important;
  }
}
