.viewer {
  padding-left: 82px;
  min-height: 100vh;
  background-image: url('../images/classic-studio.jpg');
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  .viewer-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
    min-width: 350px;
  }
  .viewer-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .form-style {
      height: 280px;
    }
  }
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(50deg, #f3c680, hsla(179, 54%, 76%, 0.1));
    z-index: -1;
  }
}

#contract {
  .contract-form {
    width: 90%;
    min-width: 500px;
    margin: 0px auto;
    border-radius: 10px;
  }
}
#list-user {
  .list-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
   } 
}

#info-user {
}


.form-style {
  max-width: 600px;
  min-width: 500px;
  padding: 10px 20px;
  background: #f4f7f8;
  margin: 0px auto;
  padding: 20px;
  background: #f4f7f8;
  border-radius: 8px;
  fieldset {
    border: none;
  }
  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  label {
    display: block;
    margin-bottom: 8px;
  }
  input {
    &[type="text"],
    &[type="date"],
    &[type="datetime"],
    &[type="email"],
    &[type="number"],
    &[type="search"],
    &[type="time"],
    &[type="url"] {
      background: rgba(255, 255, 255, 0.1);
      border: none;
      border-radius: 4px;
      font-size: 15px;
      margin: 0;
      outline: 0;
      padding: 10px;
      width: 100%;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      background-color: #e8eeef;
      color: #8a97a0;
      -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
      margin-bottom: 30px;
    }
  }
  textarea,
  select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color: #8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
  }
  input {
    &[type="text"]:focus,
    &[type="date"]:focus,
    &[type="datetime"]:focus,
    &[type="email"]:focus,
    &[type="number"]:focus,
    &[type="search"]:focus,
    &[type="time"]:focus,
    &[type="url"]:focus {
      background: #d2d9dd;
    }
  }
  textarea:focus {
    background: #d2d9dd;
  }
  select {
    &:focus {
      background: #d2d9dd;
    }
    -webkit-appearance: menulist-button;
    height: 35px;
  }
  .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 15px 15px 15px 0px;
  }
  input {
    &[type="submit"],
    &[type="button"] {
      position: relative;
      display: block;
      padding: 19px 39px 18px 39px;
      color: #fff;
      margin: 0 auto;
      background: #1abc9c;
      font-size: 18px;
      text-align: center;
      font-style: normal;
      width: 100%;
      border: 1px solid #16a085;
      border-width: 1px 1px 3px;
      margin-bottom: 10px;
    }
    &[type="submit"]:hover,
    &[type="button"]:hover {
      background: #109177;
    }
  }
}
